/* 
- 0 to 600px is mobile phone 
- 600-900px is tablet portrait
- 900-1200px is tablet landscape
- 1888+ big desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

*::selection {
  background-color: #15c7af;
  color: white; }

/* rotating logo */
@keyframes rotateLogo {
  0% {
    opacity: 1; }
  80% {
    transform: rotate(380deg);
    opacity: .6; }
  100% {
    transform: rotate(360deg);
    opacity: 1; } }

/* animations on headings */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px); }
  80% {
    transform: translate(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* moveup button animation */
@keyframes moveUp {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  80% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  /* set backspace visibility to hidden to avoid stuttering during animation in children elements*/
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s
            animation-count: 2;
         */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4.7rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    /* animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55b3f1, #0076c6);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    transform: skewY(6deg) skewX(20deg) scale(1.1);
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 50px;
  transition: all .1s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #1d8fdb;
  color: #fff; }
  .btn--blue::after {
    background-color: #1d8fdb; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .2s; }

.btn--animated {
  animation: moveUp 1s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn-text {
  transition: all .3s; }
  .btn-text:link, .btn-text:visited {
    color: #1d8fdb;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #1d8fdb;
    font-size: 1.6rem;
    padding: 5px; }
  .btn-text:hover {
    background-color: #1d8fdb;
    color: white;
    border-radius: .5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: orangered;
    height: 50rem;
    font-size: 3rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #38ffbd, #15c7af); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #55b3f1, #0076c6); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #38ffbd, #15c7af), url(/img/pexels-pixabay-414579.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #55b3f1, #0076c6), url(/img/pexels-scott-webb-1544946.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/pexels-francesco-ungaro-96381.jpg); }
  .card__heading {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right, rgba(56, 255, 189, 0.85), rgba(21, 199, 175, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, rgba(85, 179, 241, 0.85), rgba(0, 118, 198, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.4rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid gray; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__top-heading {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }
    .card__top-heading-content--1 {
      font-size: 1.4rem; }
    .card__top-heading-content--2 {
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 1rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: all .2s;
    z-index: 0;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -3rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(1.3); } }
    .composition__photo--p2 {
      right: 0;
      top: 3rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.4);
          z-index: 200; } }
    .composition__photo--p3 {
      left: 15%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.3); } }
    .composition__photo:hover {
      outline: 1rem solid #0076c6;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform .1s; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 5rem;
    background-image: linear-gradient(to right, #55b3f1, #0076c6);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__paragraph {
    font-size: 1.6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2.5rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  transition: all .3s; }
  .form__input::-webkit-input-placeholder, .form__input::-moz-placeholder {
    color: #888; }
  .form__input:focus:invalid {
    border-bottom: 4px solid red; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #1d8fdb; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  user-select: none; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 30%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
  user-select: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #1d8fdb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    background-color: #1d8fdb;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.9);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 1s .2s; }
  .popup__left-container {
    width: 33.3333%;
    display: table-cell; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__right-container {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__text {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    column-count: 3;
    column-gap: 4rem;
    column-rule: 1px solid #dfdfdf;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    font-size: 3rem;
    color: #888;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #1d8fdb; }

.review {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 7rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .review__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative; }
  .review__img {
    height: 100%;
    transform: scale(1.4);
    transition: all .5s; }
  .review__text {
    transform: skewX(12deg); }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__img {
    transform: scale(1);
    filter: blur(2px) brightness(80%); }

.footer {
  background-color: #444;
  padding: 10rem;
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    padding: 3rem;
    border-top: 1px solid #777;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link {
    transition: all .3s; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .footer__link:hover, .footer__link:active {
      color: #1d8fdb;
      box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
      transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    padding: 3rem;
    border-top: 1px solid #777;
    display: inline-block;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 8rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 8rem)) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 8rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - (3 * 8rem)) / 4 + 8rem); }
  .row .col-3-of-4 {
    width: calc((3 * ((100% - (3 * 8rem)) / 4)) + (2 * 8rem)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 179, 241, 0.801), rgba(0, 118, 198, 0.801)), url(./img/circle-g7f3709873_1280.jpg);
  background-size: cover;
  background-position: top;
  /* clip the background image */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      margin-bottom: 6rem;
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 7.5rem; }
  .header__logo:hover {
    /* transition: all 1s ease-in-out;
        transform: rotate(360deg); */
    animation: rotateLogo 1s ease-in-out; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#55b3f1, #0076c6);
  z-index: 1000;
  transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  width: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .3s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1d8fdb;
  transform: translateX(1rem) scale(1.05); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: gray;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 179, 241, 0.801), rgba(0, 118, 198, 0.801)), url(/img/pattern-gd17f63c16_1280.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 20rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-reviews {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-reviews {
      padding: 10rem 0; } }

.section-subscribe {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55b3f1, #0076c6); }
  @media (max-width: 56.25em) {
    .section-subscribe {
      padding: 10rem 0; } }

.subscribe {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(/img/geometric-gbcaeb6927_1920.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.2rem 5rem rgba(0, 0, 0, 0.4);
  height: 55rem; }
  .subscribe__form {
    width: 50%;
    padding: 6rem; }
