/* 
colors

light color: #55b3f1
medium color: #1d8fdb
dark color: #0076c6

*/

<<<<<<< HEAD
:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(85, 179, 241, 0.801),
        rgba(0, 119, 198, 0.801)),
        url(./img/circle-g7f3709873_1280.jpg);
    background-size: cover;
    background-position: top;
    
    /* clip the background image */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 75px;
}

.logo:hover {
    /* transition: all 1s ease-in-out;
    transform: rotate(360deg); */
    animation: rotateLogo 1s ease-in-out;
}

/* rotating logo */
@keyframes rotateLogo {
    0% {
        opacity: 1;
    }
    80% {
        transform: rotate(380deg);
        opacity: .6;
    }
    
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    /* set backspace visibility to hidden to avoid stuttering during animation in children elements*/
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 30px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s
        animation-count: 2;
     */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
    animation: moveInRight 1s ease-out;
}

/* animations on headings */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }

    80% {
        transform: translate(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
