// use to fix collapsing and stuttering of elements
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

// meadia query 
/* 
- 0 to 600px is mobile phone 
- 600-900px is tablet portrait
- 900-1200px is tablet landscape
- 1888+ big desktop
*/

// @mixin responsive-phone {
//     @media (max-width: 600px) { @content }
// }

// em is best for media queries
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 50.25em) { @content };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }
}

