// color 
$color-primary: #1d8fdb;
$color-primary-light:  #55b3f1;
$color-primary-dark: #0076c6;
$color-gray-dark: #777;

// color // about section
$color-gray-light-1: #f7f7f7;

// font 
$default-font-size: 1.6rem;


// Grid css 
$grid-width: 114rem;
$gap-horizontal: 8rem;
$gap-vertical: 6rem;