.card {
    // add perspective
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
        background-color: orangered;
        height: 50rem;
        transition: all .5s;
    }
    


    &:hover &__side{
        transform: rotateY(180deg);

    }
}