.card { // FUNCTIONALITY

    // add perspective
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    // re-declared height
    height: 50rem;
    // due to .card__side--front & back position: absolute, the parent div (&__side) 
    // height collapsed as a result of the two being taken out of the normal flow of css
    // so the height must be re-declared on &__side parent element, this element

    &__side {
        background-color: orangered;
        height: 50rem;
        // color: white;
        font-size: 3rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        // add width due to position absolute 
        width: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
        //hide overflow image 
        overflow: hidden;

        &--front {
            background-color: #fff;

        }

        &--back {
            background-color: green;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING OF CARD
    &__picture {
        background-size: cover;
        height: 25rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark) ,url(/img/pexels-pixabay-414579.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark) ,url(/img/pexels-scott-webb-1544946.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark) ,url(/img/pexels-francesco-ungaro-96381.jpg);
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        text-align: right;

    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right,
            rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right,
            rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li {
                text-align: center;
                font-size: 1.4rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid gray;
                }
                
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }


    &__top-heading {
        text-align: center;
        color: white;
        margin-bottom: 8rem;

        
        &-content--1 {
            font-size: 1.4rem;
        }

        &-content--2 {
            font-size: 3rem;
            font-weight: 100;
            margin-bottom: 1rem;
        }
    }

    @include responsive( tab-port ) {
        height: auto;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                background-color: green;
                transform: rotateY(0);
                clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 100% );
            }
        }
        
        &:hover &__side--front {
            transform: rotateY(0);
        }

        // FRONT SIDE STYLING OF CARD

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
            padding: 7rem 3rem 3rem 3rem;
        }


        &__top-heading {
            margin-bottom: 1rem 3rem;

            
            &-content--1 {
                font-size: 1.4rem;
            }

            &-content--2 {
                font-size: 4rem;
            }
        }
    }
}