.feature-box {
    background-color: rgba($color: white, $alpha: .7);
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .2);
    transition: transform .1s;

    @include responsive( tab-port ) {
        padding: 2rem;
    }
    
    &:hover {
        transform: translateY(-2rem) scale(1.05);
    }
    
    &__icon {
        font-size: 6rem;
        margin-bottom: 5rem;
        background-image: linear-gradient(to right, #{$color-primary-light}, #{$color-primary-dark});
        -webkit-background-clip: text;
        color: transparent;
    }

    &__paragraph {
        font-size: $default-font-size;
    }
}