.popup { 
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    &__content {
        @include absoluteCenter;
        width: 80%;
        height: 50rem;
        background-color: white;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .9)
    }
}
