.review {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 3rem 5rem rgba($color: #000000, $alpha: .1);
    background-color: white;
    border-radius: 3px;
    padding: 7rem;
    padding-left: 9rem;
    font-size: $default-font-size;

    &__shape {
        // shape-outside also has to have width and height
        width: 15rem;
        height: 15rem;
        // element must be floated to use the shape outside
        float: left;
        // shpae outside property 
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        // the best way to deal with distance in element that's floated
        // is not to use margin or padding but rather to use transform
        transform: translateX(-2rem);
    }
    // flexible images ALWAYS need width with NO exception
    &__img {
        // width: 100%;  because the width is bigger than the height there is an awkward cut at the bottom
        height: 100%;

    }
}
