*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // degines what 1 rem is e.g. 100% generally means 1ram = 16px
    font-size: 62.5%;

    //media query
    @include responsive(phone) {
        font-size: 50%;
    }
    @include responsive(tab-port) {
        font-size: 50%;
    }
    @include responsive(tab-land) {
        font-size: 50%;
    }
    @include responsive(big-desktop) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}

*::selection {
    background-color: $color-secondary-dark;
    color: white;
}