*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // degines what 1 rem is e.g. 100% generally means 1ram = 16px
    font-size: 62.5%; // this is 10px per 1rem

    //media query
    // @include responsive(phone) {
    //     font-size: 50%;
    // }
    @include responsive(tab-port) {
        font-size: 50%; //now 1 rem = 8px, 8/16 = 50%
    }
    @include responsive(tab-land) {
        font-size: 56.25%; // 1 rem = 9px,  9/16 = 56.25% 
    }
    @include responsive(big-desktop) {
        font-size: 75%; // 1rem = 12px, 12px/16px = 75%
    }
}

body {
    box-sizing: border-box;
}

*::selection {
    background-color: $color-secondary-dark;
    color: white;
}