
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-gray-dark;
    padding: 3rem;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    /* set backspace visibility to hidden to avoid stuttering during animation in children elements*/
    backface-visibility: hidden;
    margin-bottom: 3rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 500;
        letter-spacing: 3rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* animation-delay: 2s
            animation-count: 2;
         */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1rem;
        /* animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #{$color-primary-light}, #{$color-primary-dark});
    display:inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    transition: all .3s;

    &:hover {
        transform: skewY(6deg) skewX(20deg) scale(1.1);
        text-shadow: 1rem 1rem 1rem rgba($color: #000000, $alpha: .2) 
    }
}

.heading-tertiary {
    
}